vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jan 2005 13:47:34 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|DARKSTAR\\freytag
vti_modifiedby:SR|DARKSTAR\\freytag
vti_timecreated:TR|24 Jan 2005 11:15:11 -0000
vti_lineageid:SR|{383126F5-8828-42A6-873C-24E1E4E39CB3}
vti_backlinkinfo:VX|changing.htm soundness.htm config-tools.htm tokengamenormal.htm trigger.htm xorsplit.htm moving.htm removing.htm token.htm config-editor.htm configuration.htm contents.htm tokengame.htm andjoin.htm tokengamexor.htm editor.htm index.htm menubar.htm toolbar.htm andsplit.htm statusbar.htm subprocess.htm config-files.htm drawing.htm transition.htm woflan.htm resource.htm specialtransition.htm arcrouting.htm petrinet.htm place.htm xorjoin.htm pnml.htm config-gui.htm arc.htm workflownet.htm marking.htm
vti_nexttolasttimemodified:TR|25 Jan 2005 13:47:22 -0000
vti_cacheddtm:TX|25 Jan 2005 13:47:22 -0000
vti_filesize:IR|616
