# Directories to ignore #
/bin
/lib
/out
/.metadata
/.recommenders/
/WoPeD-Playground

# Package Files #
*.war
*.ear

# Class Files #
*.class

# Generic files to ignore #
*~
*.lock
*.DS_Store
*.swp
*.out

# Derby DB files
/WoPeD-Starter/data/
/WoPeD-Starter/derby.log
/WoPeD-IZPack/

# Intelij Idea Files
.idea/
*.iml
log.md

# Process2Text Output
/WoPeD-Process2Text/build/