# Directory to ignore #
/bin
/lib
/.metadata
/WoPeD-Playground

# Package Files #
*.war
*.ear

# Class Files #
*.class

# Generic files to ignore #
*~
*.lock
*.DS_Store
*.swp
*.out
