vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_webservertype:SR|diskweb
vti_categories:VR|Reisen Kostenabrechnung Geschäftlich Wettbewerb Ziele Ideen Verschiedenes Inaktiv VIP In\\ Bearbeitung Planung Zeitplan
vti_defaultlanguage:SR|de
vti_approvalapproved:SR|Genehmigt
vti_approvaldenied:SR|Abgelehnt
vti_timecreated:TR|25 Jan 2005 07:54:09 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|windows-1252
vti_navbuttonuplabel:SR|Nach oben
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.2623
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Zurück
vti_navbuttonnextlabel:SR|Weiter
vti_approvallevels:VR|Genehmigt Abgelehnt Prüfung\\ läuft
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|1
