vti_encoding:SR|utf8-nl
vinavbar:VW|C:\\\\Programme\\\\Gemeinsame\\ Dateien\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\50\\\\bots\\\\vinavbar\\\\vinavbar.inf vinavbar E I info N C:\\\\Programme\\\\Gemeinsame\\ Dateien\\\\Microsoft\\ Shared\\\\Web\\ Server\\ Extensions\\\\50\\\\bots\\\\vinavbar\\\\fp5Avnb.dll
