vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Oct 2005 14:52:43 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|DARKSTAR\\freytag
vti_modifiedby:SR|DARKSTAR\\freytag
vti_timecreated:TR|24 Jan 2005 11:15:11 -0000
vti_lineageid:SR|{383126F5-8828-42A6-873C-24E1E4E39CB3}
vti_backlinkinfo:VX|en/specialtransition.htm en/removing.htm en/tokengame.htm en/xorjoin.htm en/moving.htm en/token.htm en/workflownet.htm de/arcrouting.htm en/marking.htm en/tokengamexor.htm en/statusbar.htm en/andsplit.htm en/arc.htm de/andsplit.htm de/arc.htm en/config-files.htm en/editor.htm en/index.htm en/resource.htm en/trigger.htm en/andjoin.htm en/petrinet.htm en/woflan.htm de/andjoin.htm en/place.htm en/pnml.htm en/config-editor.htm en/transition.htm en/arcrouting.htm en/changing.htm en/menubar.htm en/soundness.htm en/subprocess.htm en/tokengamenormal.htm de/changing.htm en/config-gui.htm en/config-tools.htm en/configuration.htm en/contents.htm en/drawing.htm en/toolbar.htm en/xorsplit.htm
vti_nexttolasttimemodified:TR|25 Jan 2005 13:47:22 -0000
vti_cacheddtm:TX|24 Oct 2005 14:52:43 -0000
vti_filesize:IR|634
