vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Oct 2005 14:52:43 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|DARKSTAR\\freytag
vti_modifiedby:SR|DARKSTAR\\freytag
vti_timecreated:TR|24 Oct 2005 14:52:43 -0000
vti_cacheddtm:TX|24 Oct 2005 14:52:43 -0000
vti_filesize:IR|634
vti_lineageid:SR|{AEA0E01C-C2AB-466E-879C-D3D4D5EC9041}
vti_backlinkinfo:VX|
