img {
	border: 0;
}

.clear {
	clear: both;
}

.container {
	position: relative;
}

/* Grammar name */
h1 {
	font-size: 20px;
}

/*Grammar documentation*/
.gdoc {
	margin-left: 20px;
	margin-bottom: 20px;
}

#index {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	overflow: auto;
}
#index h2 {
	margin: 0;
}


#index ol {
	padding-left: 30px;
	list-style-type: square;
	color: #364559;
}
#index ol li {
	margin: 2px 0;
}
#index ol li a {
	color: #366199;
	font-family: monospace;
}

#rules {
	border-left: 1px solid #AAA;
}

.rule {
	margin-bottom: 30px;
}

/* Rule name*/
.rule h3 {
	color: #364559;
	background-color: #DADFE6;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 5px;
	border-bottom: 1px solid #828B99;
}
.rule h3 a.topLink {
	font-family: sans-serif;
	font-size: 10px;
	color: #000;
	margin-left: 20px;
}

.rule h3, .rule .ebnf div {
	font-family: monospace;
}

.doc, .ebnf, .railroad {
	padding-left: 20px;
}

.doc h4, .ebnf h4, .railroad h4 {
	font-size: 12px;
	margin: 15px 0 10px -20px;
}

.ebnf div {
	background-color: #F7F7F7;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	padding: 10px 5px;
}

.ebnf div .terminal {
	color: #0000FF;
}

.ebnf div .nonterminal {
	color: #004084;
	font-weight: bold;
}

.railroad img {
	display: block;
}


