@CHARSET "ISO-8859-1";

html#frame {
				background-color: #e3e3e3;
}

body {          
				background-color: #ffffff; 
				position: relative;
				max-width: 830px;
				min-width: 330px;
				margin: 0px auto 20px auto;
				overflow: visible;
				font-family:Calibri;		
}

img {
				max-width: 830px;
}

#loadIndex:hover, #loadGlossary:hover {
				cursor: pointer;
}

#toolbarButtons {	
				position:relative;
				width: 13%;
				height: 70px;
				float: right;
				margin-left: -5px;
				padding-top: 0px;
				vertical-align: middle;
}

#toolbarButtons img {	
				padding-top: 15px;
				padding-right: 5px;
				float: right;
}

#toolbarButtons, #wopedHeader {
				border-bottom-style:solid;
				border-bottom-width:2px;
				border-bottom-color:#e3e3e3;
}

#wopedHeader {	
				margin-left: 5px;
				width: 87%;
				height: 70px;
				float: left;
				
}

#headerImage {
				width: 830px;
				padding-top: 0px;
				padding-left: 0px;
				padding-right: 0px;
}

#germanVersion {
				position:absolute;
				top: 300px;
}

div.Master {	
				position:absolute;
				top: 70px;
				width: 200px;
				float: left;
				
				border-top-style:solid;
				border-top-width:2px;
				border-top-color:#e3e3e3;
				
				border-bottom-style:solid;
				border-bottom-width:1px;
				border-bottom-color:#e3e3e3;
}

div.MasterItem { 	
				margin-top: 0px;
				margin-bottom: 0px;
				text-indent:5px;
				border-bottom-style:solid;
				border-bottom-width:1px;
				border-bottom-color:#e3e3e3;
				
				height:50px;
				line-height:50px;
}

div.MasterItem:hover {
				cursor: pointer;
}

div.Detail {	
				position:absolute;
				top: 70px;
				right:5px;
				width: 600px;
}

iFrame.content {
				border:none;
				background-color: #ffffff; 
				position: relative;
				width: 825px;
				height: 100%;
				margin: 0px auto;
				overflow: visible;
				font-family:Calibri;
				padding-top: 10px;
				padding-left: 5px;
				padding-right: 0px;	
}

img.node {
	float: left;
    margin-left: 2em;
	margin-right: 1em;
	margin-top: -0.25em;
}


img.icon {
	float: left;
	width: 1.6em;
	height: 1.6em;
	margin-left: 2em;
    margin-right: 1em;
	margin-top: -0.25em;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}

p {
    margin-left: 1em;
    margin-right: 1em;
    text-align:justify;
}


a.button {
    font-weight:bold;
    color: orangered;
    text-decoration: none;
    /*padding: 1px 4px 1px 4px;*/
    /*border: 1px solid orangered;*/
    /*border-radius: 5px;*/
    /*background-color: #ffdb67;*/
}

div.halfPage {
	display: inline-block;
	width: 49%;
    vertical-align: top;
}

div.halfPage img {
    display: block;
    margin: 0 auto;
}