@CHARSET "ISO-8859-1";

body {			
				position: relative;
				max-width: 830px;
				min-width: 330px;
				margin-left: 30px;
				margin-right: 30px;
				overflow: visible;
				font-family:Calibri;				
}

h2 {
				border-bottom-style:solid;
				border-bottom-width:2px;
				border-bottom-color:#e3e3e3;
}

#wopedImage {	
				position:absolute;
				top: 25px;
				width: 10%;
				float: left;
}

#wopedGeneral {	
				width: 80%;
				float: right;
}

#germanVersion {
				position:absolute;
				top: 450px;
}

div.Master {	
				position:absolute;
				top: 200px;
				width: 200px;
				float: left;
				
				border-top-style:solid;
				border-top-width:2px;
				border-top-color:#e3e3e3;
				
				border-bottom-style:solid;
				border-bottom-width:1px;
				border-bottom-color:#e3e3e3;
}

div.MasterItem { 	
				margin-top: 0;
				margin-bottom: 0;
				
				text-indent:5px;
				
				border-bottom-style:solid;
				border-bottom-width:1px;
				border-bottom-color:#e3e3e3;
				
				height:50px;
				line-height:50px;
}

div.Detail {	
				position:absolute;
				top: 200px;
				right:0px;
				width: 520px;
}